<section>
<p>
{* <img src="../modules/payl8r/logo.png" style="float:left; margin-right:15px; margin-top:-20px" height="60"> *}
<p>{l s="This module allows you to accept secure payments by Payl8r." }</p>
<p>{l s=""}</p>
<p>{l s=""}</p>
</p>
</section>
