
{extends file='page.tpl'}

{block name='content'}

<p><b>{l s='There was a problem processing your payment. Please try again or use different payment method.' mod='payl8r'}</b><br /><br />

<p>	
  <a href="{$link->getPageLink('order', true, NULL, "step=3")|escape:'html'}" title="{l s='Click to go back to payment methods.' mod='payl8r'}">
		<span>{l s='Click to go back to payment methods.' mod='payl8r'}</span>
	</a>
  </p>
  <br/>

{/block}